# For OAuth
OAUTH_CLIENT_ID='abc123'
OAUTH_CLIENT_SECRET='secret123'

OKTA_DOMAIN="your-domain.okta.com"
OKTA_AUTH_SERVER_ID='default'
OIDC_CONFIG_URL='https://your-domain.okta.com/oauth2/default/.well-known/openid-configuration'
OAUTH_CONFIG_URL='https://your-domain.okta.com/oauth2/default/.well-known/oauth-authorization-server'

# For access token validation
OKTA_RS_CLIENT_ID="abc123"
OKTA_RS_CLIENT_SECRET="secret123"
